@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  font-family: "Playwrite AU SA", cursive;
}

h1 {
  font-size: 32px;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 32px;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 750px) {
  h1 {
    font-size: 16px;
  }
}



