* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    opacity: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to top right, hsl(0, 100%, 50%, 10%), hsl(32, 100%, 50%, 10%), hsl(61, 100%, 50%, 10%), hsl(120, 100%, 50%, 10%), hsl(219, 100%, 50%, 10%), hsl(261, 100%, 50%, 10%), hsl(288, 100%, 50%, 10%));
}

.body-pfh-negru {
    background: none;
    background-color: rgb(25, 25, 25);
    color: antiquewhite;
}

.main-content {
    position: relative;
    top: 0;
    left: 30px;
    width: calc(100% - 30px);
    padding: 1rem;
}

.todo-grid, 
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid {
    margin-bottom: 10px;
}

.titlu {
    font-size: 30px;
    font-weight: bold;
}

button {
    background-color: rgb(165, 101, 42);
    color: bisque;
    padding: 3px 10px;
}

.add-todo-button,
.delete-todo-button {
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-todo-button {
    background-color: green;
}

.delete-todo-button {
    background-color: darkred;
}

.subscribe-button {
    border: none;
    background-color: #000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
}

.is-subscribed {
    background-color: lightgray;
    color: black;
}

.cost-input {
    font-size: 15px;
    padding: 10px;
}

.calculate-button {
    border: none;
    background-color: rgb(12, 184, 12);
    color: white;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;

}

.move-button {
    border: 3px solid antiquewhite;
    background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;

}

.reset-score-button,
.auto-play-button {
    padding: 12px;
    border: 3px solid antiquewhite;
    background-color: transparent;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.move-icon {
    height: 50px;

}

.result {
    font-size: 25px;
    font-weight: bold;
}

.moves {
    display: flex;
    align-items:center;
    margin-bottom: 15px;
}

table tr td {
    padding: 0 5px;
    background-color: brown;
    color: bisque;
    border: 5px solid #000;
}

.name-input,
.due-date-input {
    font-size: 15px;
    padding: 6px;
}